@use "../../../utils.scss" as *;
@use "sass:color";
@import "../../../globals.scss";

.login {
  height: 100vh;
  background-color: $background-dark;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $background-neutral;
  @extend %container;
}

.loginForm {
  background-color: $background-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  gap: 15px;
  width: 80%;
  border-radius: 20px;

  @include media(large) {
    width: 50%;
  }

  .title {
    @include title(h2, $basic-text, bold);
  }
}

.loginInput {
  padding: 10px;
  border: 1px solid $background-neutral;
  border-radius: 12px;
  color: $muted-text;
  width: 250px;

  @include media(medium) {
    width: 300px;
  }
}

.loginButton {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: $success-color;
  color: $light-text;
  box-shadow: $button-shadow;

  &:hover {
    background-color: color.scale($success-color, $lightness: -20%);
  }
}

.inputWrapper {
  position: relative;
}

.hoveringLabel .inputLabel {
  background: #fff;
  padding: 0 5px;
  font-size: 0.7rem;
  top: -5px;
  color: $muted-text;
}

.inputLabel {
  position: absolute;
  left: 11px;
  top: 11px;
  transition: all 200ms linear;
  color: $muted-text;
}

.validation {
  font-size: 0.9rem;
  color: $warning-color;
  margin: 2px;
  text-align: center;
}

.link {
  color: $primary-color;
  border-bottom: 1px solid transparent;
  margin-top: 10px;

  &:hover {
    border-bottom: 1px solid $primary-color;
  }
}
