// font size

$font-size-x-sm: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 36px;
$font-size-x-lg: 52px;

// border radius

$basic-border-radius: 99px;
$card-border-radius: 20px;

// font family

$basic-font-family: ("Noto Sans", sans-serif);
$logo-font-family: ("Bebas Neue", sans-serif);

// ribbon

$f: 15px;
$r: 20px;
