$primary-color: #fe6b6b;
$secondary-color: #1a1b1c;
$accent-color-1: #ff9e5e;
$accent-color-2: #70d367;
$background-color: #ededed;
$muted-background-color: #cdcdcd69;
$basic-text-color: #0d2120;
$muted-text-color: #535353;
$light-text-color: #ffffff;

// shadows

$basic-shadow: (0 0.5rem 1.5rem #7575751a);
