@use "../../../utils.scss" as *;
@use "sass:color";
@import "../../../globals.scss";

.productList {
  border: 1px solid $background-neutral;
  margin-top: -60px;
  margin-bottom: 50px;
  border-radius: 12px;
  width: 80%;
  box-shadow: $button-shadow;
  padding: 20px;
  background-color: $background-light;

  @include media(large) {
    padding: 40px;
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  border: 1px solid $background-neutral;
  background-color: $background-light;
  border-radius: 8px;
  line-height: 1;
  padding: 20px;

  @include media(medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  @include media(large) {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
  }
}

.productName {
  @include title(h5, $muted-text, standard);
}

.productWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(large) {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.image {
  display: none;
  @include media(large) {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.imgWrapper {
  display: none;

  @include media(large) {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    background-color: $background-neutral;
    flex-shrink: 0;
  }
}

.listButton {
  padding: 8px 15px;
  background-color: $accent-color;
  border-radius: 6px;
  border: 1px solid transparent;
  color: $light-text;
  display: flex;
  gap: 6px;
  align-items: center;

  &:hover {
    background-color: color.scale($accent-color, $lightness: -20%);
  }
}

.optionsWrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media(large) {
    flex-direction: row;
    gap: 20px;
  }
}

.chevronRight {
  @include icon($light-text) {
    @extend .fa-chevron-right;
    font-size: 1rem;
  }
}

.removeFromList {
  @include icon($success-color) {
    @extend .fa-star;
    font-size: 1.5rem;
  }
}

.addToList {
  @include icon($success-color, regular) {
    @extend .fa-star;
    font-size: 1.5rem;
  }
}
