@use "src/utils.scss" as *;
@use "sass:color";
@import "src/globals.scss";

.data {
  background: linear-gradient(
    180deg,
    $accent-color 60%,
    hsla(0, 0%, 100%, 1) 100%
  );
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  height: 100vh;
}
