@use "src/utils.scss" as *;
@use "sass:color";
@import "src/globals.scss";

.productCard {
  display: flex;
  width: 70%;
  border-radius: 12px;
  overflow: hidden;
  background-color: $background-light;
  margin: 50px;
  gap: 2%;
}

.pictureColumn {
  width: 30%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-between;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    max-height: 190px;
    object-position: 50% 50%;
  }
}

.alerts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userData {
  background-color: color.scale($accent-color, $lightness: 80%);
  border-radius: 12px;
  border: 1px solid $accent-color;
  padding: 10px;
  color: $muted-text;
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  line-height: 1.2;
}

.userCalories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .value {
    @include title(h3, $basic-text, medium);

    span {
      font-size: 0.9rem;
      margin-left: 2px;
    }
  }
}

.userIcon {
  @include icon($accent-color) {
    @extend .fa-user;
    font-size: 1.3rem;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;

  a {
    padding: 10px 15px;
    width: 100%;
    border-radius: 8px;
    color: $light-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
    text-wrap: nowrap;
    font-weight: 500;

    &.disabled {
      pointer-events: none;
    }
  }

  .saveButton {
    background-color: $success-color;
    border: 1px solid transparent;

    .save {
      @include icon($light-text) {
        @extend .fa-star;
        font-size: 1rem;
      }
    }

    &:hover {
      background-color: color.scale($success-color, $lightness: -20%);
    }
  }

  .findButton {
    background-color: $primary-color;
    border: 1px solid transparent;

    &:hover {
      background-color: color.scale($primary-color, $lightness: -20%);
    }
  }
}

.keyInfo {
  display: grid;
  gap: 10%;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.allergensAlert {
  border: 1px solid $warning-color;
  padding: 10px;
  font-weight: 600;
  background-color: color.scale($warning-color, $lightness: 80%);
  color: $warning-color;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 12px;
  gap: 10px;
  font-size: 0.9rem;

  .triangle {
    @include icon($warning-color) {
      @extend .fa-triangle-exclamation;
      font-size: 1.3rem;
    }
  }
}

.calories {
  background-color: color.scale($warm-accent-color, $lightness: 60%);
  padding: 10px;
  border: 2px solid $warm-accent-color;
  border-radius: 8px;
  color: $muted-text;
  display: grid;
  grid-template-columns: 2fr auto;
  justify-content: center;

  span {
    font-size: 1rem;
    margin-left: 2px;
  }

  .value {
    @include title(h2, $basic-text, medium);
  }

  .fire {
    @include icon($primary-color) {
      @extend .fa-fire;
      font-size: 2rem;
    }
  }
}

.productScore {
  padding: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  .subtitle {
    @include title(h3, $basic-text, medium);
  }

  .text {
    margin-top: 5px;
    color: $muted-text;
    line-height: 1.5;
    width: fit-content;

    .allergens {
      background-color: $warning-color;
      color: $light-text;
      font-weight: 500;
      padding: 2px 5px;
      border-radius: 8px;
      width: fit-content;
      margin-top: 5px;
    }
  }
}

.ingredients {
  display: flex;
  gap: 2%;
  margin-top: 10px;
}

.ingredient {
  border: 1px solid $background-neutral;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  color: $muted-text;
}

.ingredientTitle {
  @include title(h5, $muted-text, medium);
  margin-bottom: 10px;
  line-height: 1;
}

.measure {
  font-size: 0.8rem;
  padding: 5px;
  color: $light-text;
  border-radius: 8px;
  background-color: $background-neutral;
  width: fit-content;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.quantity {
  font-weight: 600;
  font-size: 0.9rem;
}

.high {
  background-color: color.scale($warning-color, $lightness: 80%);
  border: 1px solid $warning-color;
  color: $warning-color;

  .ingredientTitle {
    color: $warning-color;
  }

  .measure {
    background-color: $warning-color;
  }
}

.low {
  background-color: color.scale($success-color, $lightness: 80%);
  border: 1px solid $success-color;
  color: $success-color;

  .ingredientTitle {
    color: $success-color;
  }

  .measure {
    background-color: $success-color;
  }
}

.moderate {
  background-color: color.scale($primary-color, $lightness: 80%);
  border: 1px solid $primary-color;
  color: $primary-color;

  .ingredientTitle {
    color: $primary-color;
  }

  .measure {
    background-color: $primary-color;
  }
}

.analysis {
  display: flex;
  gap: 2%;
}

.tag {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 8px 8px 12px -14px $background-neutral;
  width: 100%;
  color: $muted-text;

  h5 {
    @include title(h5, $muted-text, medium);
  }
}

.tagContent {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  gap: 5px;

  .measure {
    background-color: $warm-accent-color;
  }

  .icon {
    font-size: 1.5rem;
    justify-self: end;
  }
}

.up {
  @include icon($warm-accent-color) {
    @extend .fa-circle-arrow-up;
  }
}

.down {
  @include icon($warm-accent-color) {
    @extend .fa-circle-arrow-down;
  }
}

.empty {
  @include icon($background-neutral) {
    @extend .fa-ban;
  }
}
