@use "src/utils.scss" as *;
@use "sass:color";
@import "src/globals.scss";

.bmi {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  @include media(large) {
    align-self: end;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  color: $muted-text;

  .subtitle {
    @include title(h4, $basic-text, medium);
  }
}

.bar {
  border: 1px solid $background-neutral;
  border-radius: 12px;
  width: 100%;
  height: 10px;
  overflow: hidden;
}

.text {
  font-size: 0.8rem;
  padding: 2px 5px;
  color: $light-text;
  border-radius: 6px;
}
