@use "../../../utils.scss" as *;
@use "sass:color";
@import "../../../globals.scss";

.similar {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  @extend %container;
  background: linear-gradient(
    180deg,
    $accent-color 60%,
    hsla(0, 0%, 100%, 1) 100%
  );
  width: 100%;

  .title {
    @include title(h2, $light-text, bold);
    margin: 140px 0 90px 0;
    width: 100%;
    text-align: center;

    .link {
      color: $light-text;
      &:hover {
        color: $warm-accent-color;
      }
    }
  }

  .back {
    padding: 10px 20px;
    background-color: $primary-color;
    border-radius: 6px;
    border: 1px solid transparent;
    color: $light-text;
    margin-bottom: 50px;
    display: flex;
    gap: 6px;
    align-items: center;

    &:hover {
      background-color: color.scale($primary-color, $lightness: -20%);
    }
  }

  .chevronLeft {
    @include icon($light-text) {
      @extend .fa-chevron-left;
      font-size: 1rem;
    }
  }
}
