//COLORS

$background-light: #fff6ec;
$background-dark: #4d597f;
$basic-text: #2f4858;
$warning-color: #f67670;
$success-color: #27ce7d;
$light-text: #f0f0f0;
$primary-color: #ff9e46;
$accent-color: #9667ef;
$basic-gradient: linear-gradient(0deg, $primary-color 0%, $warning-color 100%);
$basic-shadow: 6px 6px 19px 0px rgb(50, 63, 72);
$button-shadow: 0 3px 5px rgba(126, 126, 126, 0.457);

//FONTS
$basic-font-family: "Noto Sans", sans-serif;
$logo-font-family: "Bebas Neue", sans-serif;

%container {
  margin: 0 auto;
  width: 1124px;
}
