//COLORS

$background-light: white;
$background-dark: #404146;
$background-neutral: rgba(210, 210, 210);
$basic-text: #303030;
$muted-text: #707070;
$warning-color: #f67670;
$success-color: #27ce7d;
$light-text: white;
$primary-color: #ff9c3f;
$accent-color: #9667ef;
$warm-accent-color: #fecd00;
$basic-shadow: 6px 6px 19px 0px rgb(50, 63, 72);
$button-shadow: 0 3px 5px rgba(126, 126, 126, 0.457);

//FONTS
$basic-font-family: "Noto Sans", sans-serif;
$logo-font-family: "Bebas Neue", sans-serif;
