@use "sass:map";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

%container {
  margin: 0 auto;
  width: 1124px;
}

@mixin icon($color, $type: solid) {
  @if $type == solid {
    @extend .fa-solid;
  }

  @if $type == regular {
    @extend .fa-regular;
  }

  @if $type == brands {
    @extend .fa-brands;
  }

  color: $color;
  @content;
}

//TITLES

$titles: (
  h1: 2.4rem,
  h2: 1.7rem,
  h3: 1.5rem,
  h4: 1.3rem,
  h5: 1.1rem,
);

$fonts: (
  bold: 800,
  medium: 600,
  standard: 400,
  light: 200,
);

@mixin title($size, $color, $weight) {
  font-size: map.get($titles, $size);
  font-weight: map.get($fonts, $weight);
  line-height: 1.5;
  color: $color;
  @content;
}

@mixin input($width, $color) {
  border-radius: 8px;
  border: 1px solid $color;
  width: $width;
  @content;
}

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra-large: 1200px,
);

@mixin media($size, $direction: min) {
  @media screen and (#{$direction}-width: map.get($breakpoints,$size)) {
    @content;
  }
}
