@import "_reset.scss";
@import "_globals.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $basic-font-family;
  font-optical-sizing: auto;
  font-style: normal;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
  font-family: $basic-font-family;
}

.main {
  min-height: 100vh;
}
