/* ABOUT */

.about .container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section__title {
  font-size: $font-size-lg;
  font-weight: 600;
  line-height: 2.5rem;
}

.about__items {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.about__item {
  background-color: $background-color;
  border-radius: $card-border-radius;
  height: 100%;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: $basic-shadow;
  position: relative;
  overflow: hidden;

  &-title {
    font-size: $font-size-x-lg;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
    color: $muted-text-color;

    span {
      font-size: $font-size-md;
    }
  }

  &-text {
    font-size: $font-size-md;
    color: $muted-text-color;
  }

  &:hover {
    transform: translate3d(0, -10px, 0);
    transition: 0.2s;
  }
}

.about__item-1::before {
  display: block;
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8rem;
  position: absolute;
  padding-right: 20px;
  right: 0;
  bottom: 0;
  transform: translateY(0);
  z-index: 8;
  color: $muted-background-color;
  overflow: hidden;
  margin: -10px;
}

.about__item-2::before {
  display: block;
  content: "\f2e7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8rem;
  position: absolute;
  padding-right: 20px;
  right: 0;
  bottom: 0;
  transform: translateY(0);
  z-index: 8;
  color: $muted-background-color;
  overflow: hidden;
  margin: -8px;
}

.about__item-3::before {
  display: block;
  content: "\f251";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8rem;
  position: absolute;
  padding-right: 20px;
  right: 0;
  bottom: 5px;
  transform: translateY(0);
  z-index: 8;
  color: $muted-background-color;
  overflow: hidden;
  margin: -8px;
}
