/* RECIPE STYLES */

.recipes .container {
  margin-top: 120px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $secondary-color;
}

.section__title-light {
  color: $background-color;
  margin-top: 80px;
}

.recipe__items {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 90%;
}

.recipe__img {
  display: block;
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.recipe__item {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: $background-color;
  border-radius: $card-border-radius;
  overflow: hidden;
}

.recipe__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  line-height: 1.5rem;
  flex-grow: 1;
}

.recipe__title {
  font-size: $font-size-lg;
  line-height: 2.5rem;
}

.recipe__text {
  flex: 1 0 auto;
}

.recipe__tags {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.2rem;
  margin-top: -10px;
  flex-wrap: wrap;
}

.recipe__tag {
  font-family: $basic-font-family;
  font-size: $font-size-x-sm;
  font-weight: 600;
  text-align: center;
  background-color: $primary-color;
  border-radius: $basic-border-radius;
  padding: 5px 15px;
  color: $light-text-color;
  line-height: 1.2rem;
  box-shadow: $basic-shadow;
  text-wrap: nowrap;

  &-time {
    background-color: $accent-color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &::before {
      content: "\f017";
      font-family: "Font Awesome 5 Free";
      font-weight: 500;
      font-size: 1rem;
    }
  }

  &-type {
    background-color: $accent-color-2;
  }
}

.recipe__button {
  color: $primary-color;
  align-self: flex-end;
  margin-right: 25px;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: $font-size-md;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid $accent-color-1;
    color: $accent-color-1;
  }
}

/* TAGS */

.tags .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 60px;
  width: 100%;
}

.tags__items {
  display: flex;
  justify-content: center;
  align-items: center;

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    font-size: $font-size-md;
    flex-wrap: wrap;
    gap: 30px;
  }

  &-single-item {
    &:hover {
      transform: translate3d(0, -5px, 0);
      transition: 0.2s;
    }

    a {
      border: 2px solid $basic-text-color;
      border-radius: $basic-border-radius;
      line-height: 2.5rem;
      padding: 10px 30px;
      opacity: 0.5;
      color: $basic-text-color;
      height: 100%;

      &:hover {
        background: $secondary-color;
        opacity: 1;
        transition: 0.2ms;
        color: $light-text-color;
        border: 2px solid transparent;
      }
    }
  }
}
