@use "../../../utils.scss" as *;
@import "../../../globals.scss";

.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @extend %container;
  background-color: $background-dark;

  .title {
    @include title(h2, $light-text, bold);
    margin-top: 30px;
    text-align: center;

    @include media(large) {
      margin-top: 80px;
    }
  }
}
