@use "../../../utils.scss" as *;
@use "sass:color";
@import "../../../globals.scss";

.search {
  background: linear-gradient(
    180deg,
    $accent-color 60%,
    hsla(0, 0%, 100%, 1) 100%
  );
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  @include media(large) {
    min-height: 500px;
  }

  .title {
    @include title(h2, $light-text, bold);
  }
}

.wrapper {
  width: 80%;
  position: relative;
  @include media(large) {
    width: 60%;
  }
}

.searchBar {
  @include input(100%, $background-neutral) {
    padding: 15px 25px;
    color: $muted-text;
  }
}

.searchButton {
  position: absolute;
  padding: 10px 20px;
  background-color: $success-color;
  border-radius: 8px;
  border: 1px solid transparent;
  color: $light-text;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translate(-50%, 130%);

  @include media(large) {
    position: absolute;
    transform: translate(-50%, 52%);
    bottom: 25px;
    left: 90%;
    right: -50px;
  }

  &:hover {
    background-color: color.scale($success-color, $lightness: -20%);
  }
}
